<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称-->
<mapper namespace="GgkzUserRoleExt">
	<insert id="batchInsert" parameterType="com.is.ggkz.entity.GgkzUserRole">
		insert into ggkz_user_role (
					user_id,
					role_id,
					oper_time,
					oper_user_id
				) values 
			<foreach item="item" index="index" collection="list" separator=",">
				(#{item.userId},#{item.roleId},now(),#{item.operUserId})
			</foreach>
	</insert>
</mapper>