@CHARSET "UTF-8";
/* Fix menu for IE6 */
	.dropdown ul li a.selected,
	.dropdown ul li a:hover,
	{
		background: none;
	}
	.dropdown ul li ul li a.selected,
	.dropdown ul li ul li a:hover
	{
		background: #67A8B8;
	}

	#slider_area .left_side{
  		margin-left:10px;
 	}

	/* content */
	#content{
		padding-left:20px;
	}

	a.read_more{
		padding:0px 16px 0px 4px;
		line-height:22px;
	}

	a.read_more:hover{
		padding:0px 16px 0px 4px;
		line-height:22px;
	}

	/* slider numbers*/
	#numbers{
		top:203px;
	}

	.clear_space_h{
		height:2px;
		padding:0;
		margin:0;
	}

	.page_left.content{
		margin-right:10px;
	}