<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称-->
<mapper namespace="DContractImage">
	<!-- 表的所有字段 -->
	<sql id="allColumns">
		<![CDATA[
			photo_id,
			ws_cd,
			filename,
			photo_tm
	    ]]>
  	</sql>
	
	<!-- 表的主键字段 -->
	<sql id="pkColumns">
		<![CDATA[
			photo_id
	    ]]>
  	</sql>
	
	<!-- 根据实体的查询对象进行查询的sql -->
	<sql id="querySql">
		select <include refid="allColumns" /> 
			from d_contract_image
			<where>	      				
				<if test="photoId != null and photoId != ''">
					<![CDATA[and photo_id = #{photoId}]]>
				</if>
				<if test="wsCd != null and wsCd != ''">
					<![CDATA[and ws_cd = #{wsCd}]]>
				</if>
				<if test="filename != null and filename != ''">
					<![CDATA[and filename = #{filename}]]>
				</if>
				<if test="photoTm != null and photoTm != ''">
					<![CDATA[and photo_tm = #{photoTm}]]>
				</if>
			</where>
	</sql>

	<!-- 新增数据 -->
	<insert id="insert" parameterType="com.is.pretrst.entity.DContractImage">
	    <![CDATA[
			insert into d_contract_image (
				photo_id,
				ws_cd,
				filename,
				photo_tm
			) values (
				#{photoId},
				#{wsCd},
				#{filename},
				#{photoTm}
			)
		]]>
	</insert>
	
	<!-- 根据条件删除数据 -->
    <delete id="deleteByEntity" parameterType="com.is.pretrst.entity.DContractImage">
      
			delete from d_contract_image 
				<where>	 
					<if test="photoId != null and photoId != ''">
						<![CDATA[and photo_id = #{photoId}]]>
					</if>
					<if test="wsCd != null and wsCd != ''">
					<![CDATA[and ws_cd = #{wsCd}]]>
				</if>
				</where>
    
    </delete>
   
	<!-- 跟据条件更新数据 -->
	<update id="updateByEntity" parameterType="com.is.pretrst.entity.DContractImage">
			update d_contract_image 
				<set>
				<if test="wsCd != null">
					ws_cd = #{wsCd},
				</if>
				<if test="filename != null">
					filename = #{filename},
				</if>
				<if test="photoTm != null">
					photo_tm = #{photoTm},
				</if>
				<if test="uploadTm != null">
					upload_tm = #{uploadTm},
				</if>
				</set>
				
				where 
					photo_id = #{photoId}
    	
	</update>
	
	<!-- 根据条件查询单个对象 -->
	<select id="selectOneByEntity" parameterType="com.is.pretrst.entity.DContractImage" resultMap="pretrst.DContractImageRM">
        select <include refid="allColumns" />
	    
			from d_contract_image 
			<where>	      				
				<if test="photoId != null and photoId != ''">
					<![CDATA[and photo_id = #{photoId}]]>
				</if>
				<if test="wsCd != null and wsCd != ''">
					<![CDATA[and ws_cd = #{wsCd}]]>
				</if>
				<if test="filename != null and filename != ''">
					<![CDATA[and filename = #{filename}]]>
				</if>
				<if test="photoTm != null and photoTm != ''">
					<![CDATA[and photo_tm = #{photoTm}]]>
				</if>
			</where>
	  
	</select>
	
	<!-- 根据实体对象查询数据结果集 -->
	<select id="selectByEntity" parameterType="com.is.pretrst.entity.query.DContractImageQuery" resultMap="pretrst.DContractImageRM">
			<include refid="querySql"/>
			
	</select>
	
	<!-- 分页查询 -查询结果数据 -->
	<select id="selectByPage" parameterType="com.is.pretrst.entity.query.DContractImageQuery" resultMap="pretrst.DContractImageRM">
		<include refid="querySql"/>
		
	</select>
	
	<!-- 分页查询 -查询记录总数 -->
	<select id="selectByPageCount" parameterType="com.is.pretrst.entity.query.DContractImageQuery" resultType="integer">
		select count(1) from ( <include refid="querySql"/> ) as tmp_d_contract_image
	</select>
	
</mapper>