<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称 -->
<mapper namespace="GgkzAuthMobileResource">
	<!-- 表的所有字段 -->
	<sql id="allColumns">
		<![CDATA[
			auth_id,
			resource_id
	    ]]>
  	</sql>

	
	<!-- 根据实体的查询对象进行查询的sql -->
	<sql id="querySql">
		select <include refid="allColumns" /> 
			from ggkz_auth_mobile_resource
			<where>	      				
				<if test="authId != null and authId != ''">
					<![CDATA[and auth_id = #{authId}]]>
				</if>
				<if test="resourceId != null and resourceId != ''">
					<![CDATA[and resource_id = #{resourceId}]]>
				</if>
				
			</where>
	</sql>

	<!-- 新增数据 -->
	<insert id="insert" parameterType="com.is.ggkz.entity.GgkzAuthMobileResource">
	    <![CDATA[
			insert into ggkz_auth_mobile_resource (
				auth_id,
				resource_id
			) values (
				#{authId},
				#{resourceId}
			)
		]]>
	</insert>
	
	<!-- 根据条件删除数据 -->
    <delete id="deleteByEntity" parameterType="com.is.ggkz.entity.GgkzAuthMobileResource">
      
			delete from ggkz_auth_mobile_resource 
				<where>	 
					<if test="authId != null and authId != ''">
						<![CDATA[and auth_id = #{authId}]]>
					</if>
					<if test="resourceId != null and resourceId != ''">
						<![CDATA[and resource_id = #{resourceId}]]>
					</if>
					
				</where>
    
    </delete>

	
	<!-- 根据条件查询单个对象 -->
	<select id="selectOneByEntity" parameterType="com.is.ggkz.entity.GgkzAuthMobileResource" resultMap="ggkz.GgkzAuthMobileResourceRM">
        select <include refid="allColumns" />
	    
			from ggkz_auth_mobile_resource 
			<where>	      				
				<if test="authId != null and authId != ''">
					<![CDATA[and auth_id = #{authId}]]>
				</if>
				<if test="resourceId != null and resourceId != ''">
					<![CDATA[and resource_id = #{resourceId}]]>
				</if>
				
			</where>
	  
	</select>
	
	<!-- 根据实体对象查询数据结果集 -->
	<select id="selectByEntity" parameterType="com.is.ggkz.entity.query.GgkzAuthMobileResourceQuery" resultMap="ggkz.GgkzAuthMobileResourceRM">
			<include refid="querySql"/>
			
	</select>
	
	<!-- 分页查询 -查询结果数据 -->
	<select id="selectByPage" parameterType="com.is.ggkz.entity.query.GgkzAuthMobileResourceQuery" resultMap="ggkz.GgkzAuthMobileResourceRM">
		<include refid="querySql"/>
		
	</select>
	
	<!-- 分页查询 -查询记录总数 -->
	<select id="selectByPageCount" parameterType="com.is.ggkz.entity.query.GgkzAuthMobileResourceQuery" resultType="integer">
		select count(1) from ( <include refid="querySql"/> ) as tmp_ggkz_auth_mobile_resource
	</select>
	
   <!-- 批量插入权限与资源关联 -->
   <insert id="batchInsert" parameterType="java.util.List">  
        insert into ggkz_auth_mobile_resource  
        (       auth_id,
				resource_id 
        ) values  
        <foreach collection="list" item="item" index="index" separator=",">  
            (
               #{item.authId},
               #{item.resourceId} 
            )  
        </foreach>  
    </insert> 
	
</mapper>